[Unit] Description=mysql Monitoring System
Documentation=mysql Monitoring System [Service] ExecStart=/usr/local/mysqld_exporter/mysqld_exporter \ --collect.info_schema.processlist \ --collect.info_schema.innodb_tablespaces \ --collect.info_schema.innodb_metrics \ --collect.perf_schema.tableiowaits \ --collect.perf_schema.indexiowaits \ --collect.perf_schema.tablelocks \ --collect.engine_innodb_status \ --collect.perf_schema.file_events \ --collect.binlog_size \ --collect.info_schema.clientstats \ --collect.perf_schema.eventswaits \ --config.my-cnf=/usr/local/mysqld_exporter/.my.cnf [Install] WantedBy=multi-user.target